/.phpintel
/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/chart.js
/public/js/shared-components.js
/public/js/generic-classes.js
/public/js/common.js
/public/js/components
/public/modules
/database/snapshots
/storage/*.key
/storage/debugbar
/storage/pictures
/storage/documents
/storage/temporary
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
.php_cs.cache
phpstan.neon

