/.phpintel
/node_modules
/doc
/public/hot
/public/storage
#/public/modules
/storage/*.key
/storage/debugbar
/storage/pictures
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
*.log
.phpunit.result.cache
