/.phpintel
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/pictures
/storage/temporary
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
/database/snapshots
.php_cs.cache
phpstan.neon

