/** Estilos HTML Generales */
body {
	font-size:$default-font-size;
	color:$default-text-color;
	background-color:$default-background-color;
}
footer nav ul {
	text-align: center;
}
a.resalt-link {
	color: $color-primary !important;
}
.text-bold {
	font-weight: bold;
}
/** Perfil de usuario */
.img-profile {
	border:3px solid $color-info; padding:15px; border-radius: 50%;height:250px;width: 250px;
}
.img-profile-mini {
	height:50px; width:50px;
}
.content-wrapper.collapsed .profile-left .profile-thumb img {
	height:30px;
}

.break-words {
    white-space:normal;
    word-wrap: break-word;
}

/** Estilos para el contenido de la aplicación */
.col-right-border {
	border-right:1px solid $color-white-light;
}
.app-content {
	position: relative;
	margin: 20px;
}

.with-shadow {
	-moz-box-shadow: 0px 5px 25px 0px $default-shadow;
	-webkit-box-shadow: 0px 5px 25px 0px $default-shadow;
	box-shadow: 0px 5px 25px 0px $default-shadow;
}

/** Estilos de bordes */
.with-border {
	border: 1px solid $color-gray;

	&.with-radius {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
}

/** Separadores superiores e inferiores */
.pad-top-10 {
	padding-top: 10px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-30 {
	padding-top: 30px;
}
.pad-top-40 {
	padding-top: 40px;
}
.pad-top-50 {
	padding-top: 50px;
}
.pad-bottom-10 {
	padding-bottom: 10px;
}
.pad-bottom-20 {
	padding-bottom: 20px;
}
.pad-bottom-30 {
	padding-bottom: 30px;
}
.pad-bottom-40 {
	padding-bottom: 40px;
}
.pad-bottom-50 {
	padding-bottom: 50px;
}

/** Estilos generales */
.no-list-symbol {
	list-style:none;
}
.img-circle {
	border-radius: 50%;
}
.img-logo {
	width:100px;
	max-height:100px;
}
.img-banner {
	width:100%;
	max-height: 100px;
}
.mt10 {
	margin-top: 10px !important;
}
.well {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 0;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   background-color: $color-white-dark;
   min-height: 40px;
   padding: 15px;

   input {
   	background-color:$color-white;
   }
}
.media {
	> .float-left {
		margin-right: 10px;
	}
}
.media-heading {
	color: $color-black-light;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.footer {
	padding: 10px 0;
}
.nodisplay {
	display: none;
}
.md-title {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
}
.nopadding-left {
	padding-left: 0 !important;
}
.ico-2x {
	font-size:2rem;
}
.ico-3x {
	font-size:3rem;
}
.ico-4x {
	font-size:4rem;
}
.bg-primary {
    background-color: $color-primary !important;
}
.bg-info {
	background-color: $color-info !important;
}
.bg-success {
	background-color: $color-success-opacity-8;
}
.bg-warning {
	background-color: $color-warbing-light-thin;
}
.bg-danger {
	background-color: $color-danger-opacity-8;
}
.bg-info, .bg-success, .bg-warning, .bg-danger {
	color: $color-white !important;
}
.app-content {
	min-height: 100vh;
}
.card-title {
	text-transform: uppercase;
	color: $color-info-dark;
}
.cursor-pointer {
    cursor:pointer;
}
.vertical-middle {
    margin:10px auto;
}
.modal-footer {
    justify-content: flex-end !important;
}
table {
	font-size: 0.87em;
	width: 100% !important;

	th, td {
		padding: 0.5rem !important;
		vertical-align: middle !important;
	}
}
.panel-legend {
	span {
		margin-left: 10px;
	}
}
.mg-bottom-20 {
	margin-bottom:20px;
}
.special-title {
	list-style:none;font-size:.7rem;text-transform: uppercase;font-weight:bold;
}

.login-page {
	.card-login {
		.input-group {
			&:last-child {
				margin-bottom: 20px;
			}
		}
		.logo-container{
            margin-bottom: 35px !important;
        }
        .content {
        	margin: 50px auto !important;
        }
	}

	.page-header {
		.page-header-image {
			background-image:url('../images/auth-bg.jpg');
		}
	}
}

.bootstrap-switch {
	&.bootstrap-switch-off {
		.bootstrap-switch-label {
            background-color: $default-switch-label;
        }
	}
}

/**
 * Estilos para páginas de error
 */

.notfoundpanel {
    text-align: center;
    width: 600px;
    margin: 80px auto 0 auto;
    position: relative;
}

.notfoundpanel h1 {
    font-size: 180px;
    font-weight: 200;
    color: $color-black;
    margin: 0 0 10px 0;
    line-height: 180px;
    /* text-shadow: 4px 4px $default-shadow; */
}

.notfoundpanel h3 {
    color: $color-black-light;
    margin: 0 0 10px 0;
}

.notfoundpanel p {
    font-size: 14px !important;
}

.notfoundpanel form {
    width: 350px;
    margin: 20px auto 0 auto;
}

.notfoundpanel .form-control {
    width: 250px;
    float: left;
}

.notfoundpanel .btn {
    padding: 9px 20px 10px 20px;
}

/**
 * Estilos de colores de fondo
 */
/*
 * Background styles
 */
.bg-red, .bg-blue, .bg-aqua, .bg-yellow, .bg-green, .bg-purple, .bg-black, .bg-blue, .bg-light-blue,
.bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-maroon, .bg-black-active, .bg-red-active,
.bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active,
.bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active,
.bg-maroon-active {
  color: $color-white !important;
}
.bg-gray, .bg-gray-light {
  color:$color-gray-dark !important;
}
.bg-red {background-color: $color-danger-dark !important;}
.bg-blue {background-color: $color-info-dark !important;}
.bg-aqua {background-color: $color-info-aqua !important;}
.bg-yellow {background-color: $color-warning !important;}
.bg-green {background-color: $color-success-light !important;}
.bg-purple {background-color: $color-purple !important;}
.bg-gray {background-color: $color-gray-thin !important;}
.bg-gray-light {background-color: $color-gray-light !important;}
.bg-black {background-color: $color-black-strong !important;}
.bg-light-blue {background-color: $color-info-light !important;}
.bg-navy {background-color: $color-info-navy !important;}
.bg-teal {background-color: $color-info-teal !important;}
.bg-olive {background-color: $color-success-olive !important;}
.bg-lime {background-color: $color-success-lime !important;}
.bg-orange {background-color: $color-warning-dark !important;}
.bg-fuchsia {background-color: $color-danger-fuchsia !important;}
.bg-maroon {background-color: $color-danger-maroon !important;}
.bg-gray-active {color: $color-black !important;background-color: $color-gray-active !important;}
.bg-black-active {background-color: $color-black !important;}
.bg-red-active {background-color: $color-danger-active !important;}
.bg-yellow-active {background-color: $color-warning-active !important;}
.bg-aqua-active {background-color: $color-info-aqua-active !important;}
.bg-blue-active {background-color: $color-info-dark-active !important;}
.bg-light-blue-active {background-color: $color-info-light-blue !important;}
.bg-green-active {background-color: $color-success-light-active !important;}
.bg-navy-active {background-color: $color-info-navy-active !important;}
.bg-teal-active {background-color: $color-info-teal-active !important;}
.bg-olive-active {background-color: $color-success-olive-active !important;}
.bg-lime-active {background-color: $color-success-lime-active !important;}
.bg-orange-active {background-color: $color-warning-dark-active !important;}
.bg-fuchsia-active {background-color: $color-danger-fuchsia-active !important;}
.bg-purple-active {background-color: $color-purple-active !important;}
.bg-maroon-active {background-color: $color-danger-maroon-active !important;}

.text-success, .p-text-success {color:$color-success !important;}
.text-danger, .p-text-danger {color:$color-danger !important;}
.text-red, .p-text-red {color: $color-danger-dark !important;}
.text-required, .p-text-required {color:$color-danger;}
.text-blue, .p-text-blue {color: $color-info-dark !important;}
.text-aqua, .p-text-aqua {color: $color-info-aqua !important;}
.text-yellow, .p-text-yellow {color: $color-warning !important;}
.text-green, .p-text-green {color: $color-success-light !important;}
.text-purple, .p-text-purple {color: $color-purple !important;}
.text-gray, .p-text-gray {color: $color-gray-thin !important;}
.text-gray-light, .p-text-gray-light {color: $color-gray-light !important;}
.text-black, .p-text-black {color: $color-black-strong !important;}
.text-blue, .p-text-blue {color: $color-info-dark !important;}
.text-light-blue, .p-text-light-blue {color: $color-info-light !important;}
.text-navy, .p-text-navy {color: $color-info-navy !important;}
.text-teal, .p-text-teal {color: $color-info-teal !important;}
.text-olive, .p-text-olive {color: $color-success-olive !important;}
.text-lime, .p-text-lime {color: $color-success-lime !important;}
.text-orange, .p-text-orange {color: $color-warning-dark !important;}
.text-fuchsia, .p-text-fuchsia {color: $color-danger-fuchsia !important;}
.text-maroon, .p-text-maroon {color: $color-danger-maroon !important;}
.text-gray-active, .p-text-gray-active {color: $color-gray-active !important;}
.text-black-active, .p-text-black-active {color: $color-black !important;}
.text-red-active, .p-text-red-active {color: $color-danger-active !important;}
.text-yellow-active, .p-text-yellow-active {color: $color-warning-active !important;}
.text-aqua-active, .p-text-aqua-active {color: $color-info-aqua-active !important;}
.text-blue-active, .p-text-blue-active {color: $color-info-dark-active !important;}
.text-light-blue-active, .p-text-light-blue-active {color: $color-info-light-blue !important;}
.text-green-active, .p-text-green-active {color: $color-success-light-active !important;}
.text-navy-active, .p-text-navy-active {color: $color-info-navy-active !important;}
.text-teal-active, .p-text-teal-active {color: $color-info-teal-active !important;}
.text-olive-active, .p-text-olive-active {color: $color-success-olive-active !important;}
.text-lime-active, .p-text-lime-active {color: $color-success-lime-active !important;}
.text-orange-active, .p-text-orange-active {color: $color-warning-dark-active !important;}
.text-fuchsia-active, .p-text-fuchsia-active {color: $color-danger-fuchsia-active !important;}
.text-purple-active, .p-text-purple-active {color: $color-purple-active !important;}
.text-maroon-active, .p-text-maroon-active {color: $color-danger-maroon-active !important;}
.text-white, .p-text-white {color: $color-white !important;}
.text-black, .p-text-black {color: $color-black-strong !important;}
.text-info, .p-text-info {color:$color-info-dark !important;}

.level-all {color: $color-black-strong !important;background-color: $color-gray-active !important;}
.level-emergency, .level-alert, .level-critical, .level-error, .level-warning, .level-notice,
.level-info, .level-debug {color:$color-white;}
.level-emergency {background-color: $color-danger-maroon !important;}
.level-alert{background-color:$color-danger !important;}
.level-critical{background-color:$color-danger-dark !important;}
.level-error{background-color:$color-warning-error !important}
.level-warning{background-color: $color-warning-light !important}
.level-notice{background-color:$color-success !important}
.level-info{background-color: $color-info-dark !important;}
.level-debug{background-color: $color-info-aqua !important;}
.badge-level-all, .badge-level-emergency, .badge-level-alert, .badge-level-critical, .badge-level-error,
.badge-level-warning, .badge-level-notice, .badge-level-info,
.badge-level-debug {background-color: transparent !important;font-size: .85em !important;}
.badge-level-all {color:$color-black-strong;border-color: $color-gray-active !important;}
.badge-level-emergency {color:$color-danger-maroon;border-color: $color-danger-maroon;}
.badge-level-alert {color:$color-danger;border-color:$color-danger;}
.badge-level-critical {color:$color-danger-dark;border-color:$color-danger-dark;}
.badge-level-error {color:$color-warning-error;border-color:$color-warning-error;}
.badge-level-warning {color:$color-warning-light;border-color:$color-warning-light;}
.badge-level-notice {color:$color-success;border-color:$color-success;}
.badge-level-info {color:$color-info-dark;border-color:$color-info-dark;}
.badge-level-debug {color:$color-info-aqua;border-color:$color-info-aqua;}
.text-level-all, a.text-level-all:hover {color:$color-black-strong;}
.text-level-emergency, a.text-level-emergency:hover {color:$color-danger-maroon;}
.text-level-alert, a.text-level-alert:hover {color:$color-danger;}
.text-level-critical, a.text-level-critical:hover {color:$color-danger-dark;}
.text-level-error, a.text-level-error:hover {color:$color-warning-error;}
.text-level-warning, a.text-level-warning:hover {color:$color-warning-light;}
.text-level-notice a.text-level-notice:hover {color:$color-success;}
.text-level-info, a.text-level-info:hover {color:$color-info-dark;}
.text-level-debug, a.text-level-debug:hover {color:$color-info-aqua;}
a.text-level-all:hover, a.text-level-emergency:hover, a.text-level-alert:hover,
a.text-level-critical:hover, a.text-level-error:hover, a.text-level-warning:hover,
a.text-level-notice:hover, a.text-level-info:hover, a.text-level-debug:hover {
	text-decoration: none;
}
a.level-emergency:hover, a.level-alert:hover,
a.level-critical:hover, a.level-error:hover, a.level-warning:hover,
a.level-notice:hover, a.level-info:hover, a.level-debug:hover {
	color:$color-white;font-weight: bold;
}
.stack {
	line-height: 2em;
}

.width100p {
	width: 100% !important;
}

.bootstrap-switch-mini {
	.bootstrap-switch {
		height: 16px !important;
		width: 46px !important;

		.bootstrap-switch-label {
			height:16px !important;
			width:16px !important;
			font-size:.57rem !important;
		}

		.bootstrap-switch-container {
			width:85px !important;
		}

		.bootstrap-switch-handle-off {
			text-indent:0;
			padding: 3px 12px !important;

			&:hover {
				width:18px !important;
			}
		}

		.bootstrap-switch-handle-on {
			padding: 3px 12px !important;
		}

		&.bootstrap-switch-off {
			.bootstrap-switch-container {
				margin-left:-32px !important;
			}
			&:hover {
				.bootstrap-switch-label {
					width:20px !important;
					font-size:.57rem !important;
				}
			}
		}

		&.bootstrap-switch-on {
			&:hover {
				.bootstrap-switch-label {
					width:20px !important;
					margin-left:-14px !important;
					font-size:.57rem !important;
				}
			}
		}
	}
}
