.btn {
	&.btn-icon {
		&.btn-xs {
			height:1.4rem;
			min-width:1.4rem;
			width:1.4rem;

			i {
				font-size: .7rem;
			}
		}
	}
}

.btn-custom {
	margin-bottom:2em;
	font-size: .7rem;

    &.btn-mini {
        font-size:.7rem;padding: .12rem .24rem;
    }

    span {
		margin-left:5px;
	}
}

.btn-action {
	font-size: 0.58rem !important;
	padding: 3px 6px !important;
	font-weight: bold !important;
	cursor:pointer !important;
}

.btn-add-record {
	color: $color-info;
	cursor:pointer;
	margin-left:10px;
}

.btn-sm {
    font-size: 0.8571em;

    &.btn-formula, &.btn-formula-clear {
        font-size: .65rem;
        font-weight: bold;
    }
}

.btn-import {
    font-size: .639rem;
    font-weight: bold;
}

/** Botones personalizados para Apps */
.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	text-align: center;
	color: $color-gray-dark;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display:none;
}
.btn-display {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 80px;
    display:none;
    z-index:99;
}

.btn-events {
    padding: 0.1rem 0.3rem !important;
    border:0 !important;
}

.swal-button--confirm {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: #f94d18;
    }
}

.btn-collapse, .btn-collapse:hover {
    background-color: transparent;
}
.btn-collapse {
    padding:4px;font-size:0.7em;color:#0073b7;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	// Sobreescribe el color del background del color del btn-primary
	background-color: $color-primary-dark;
}