.btn {
	&.btn-icon {
		&.btn-xs {
			height:1.4rem;
			min-width:1.4rem;
			width:1.4rem;

			i {
				font-size: .7rem;
			}
		}
	}
}

.btn-custom {
	margin-bottom:2em;
	font-size: .7rem;

	span {
		margin-left:5px;
	}
}

.btn-action {
	font-size: 0.58rem !important;
	padding: 3px 6px !important;
	font-weight: bold !important;
	cursor:pointer !important;
}

.btn-add-record {
	color: #2CA8FF;
	cursor:pointer;
	margin-left:10px;
}

/** Botones personalizados para Apps */
.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display:none;
}
.btn-display {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 80px;
    display:none;
    z-index:99;
}

.btn-events {
    padding: 0.1rem 0.3rem !important;
    border:0 !important;
}

.swal-button--confirm {
    background-color: #f96332;
    color: #FFFFFF;

    &:hover {
        background-color: #f94d18;
    }
}
