.visor {
	background-color: #1d1f21;
    height:400px;
    border-radius: 5px;
    color:$color-white;
    overflow: auto;
}
.color-palette {
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.color-palette-set {
    margin-bottom: 15px;
}
