/** Estilo de tamaño en campos del formulario */
.input-sm {
	height: 28px;
}
/** Estilos personalizados en campos con imágenes agrupadas en formularios */
.input-group {
	&.input-sm {
		.input-group-addon {
			padding: 5px 0 10px 18px;
		}
		.input-group-addon, input {
			max-height:28px;
		}
	}
	input[type=date] {
		padding-left: 6px !important;
		/*padding-right: 6px !important;*/
	}

	.input-group-append .btn {
		margin-top: 0;
		margin-bottom: 0;
		padding: 8px 18px 8px 18px;/*font-size: 0.8571em;*/
	}
}
.input-group-addon:first-child {
    border-radius: 30px 0 0 30px;

    &.readonly {
    	background-color: #E3E3E3;
    	cursor: not-allowed;
    }
}
.input-group-addon:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 5px 8px 10px 18px !important;
}
.input-group-focus .input-group-addon, .input-group-focus .form-control, .form-control:focus {
	border-color: $color-info;
}

.inline-inputs {
	padding: 0 15px;
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
		&:nth-child(odd) {
			padding: 0;
		}

		input[type=text] {
			padding: 10px;
			text-align: center;
		}
	}
}

.has-success::after, .has-danger::after {
	bottom:6px;
}

/** Estilos personalizados para campos de tipo radio */
.radio input[type="radio"]:checked + label::after {
	background-color: $color-info;border-color: $color-info;
}
.radio-inline {
	span.left {
		margin-right:10px;
	}
	span.right {
		margin-left:10px;
	}
}
/** Estilos personalizados para campos de tipo checkbox */
.checkbox label::after {
	color: $color-info;
}

/** Estilos personalizados en campos de tipo color */
input[type="color"] {
	min-height:28px;
	color: $color-white;
	width: 60px;
	cursor: pointer;
    padding: 5px 10px !important;
}

/** Estilos para campos de tipo number */
input[type=number] {
	padding-right:5px;

    &.input-sm {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}

/** Estilos para campos textarea */
textarea {
	&.form-control {
		border: 1px solid #E3E3E3;
		border-radius: 10px;

		&:focus,
	    &:active{
	        border: 1px solid $color-info;
	    }
	}
}

/** Estilos para campos requeridos en formularios */
.is-required {
	&.form-group {
		.form-control {
			/*padding-right: 40px;*/
			padding-right: 26px;
		}
		input[type=number] {
			padding-right: 14px;

			&.input-sm {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	&:after {
		font-family: 'Ionicons';
		content: "\f314";
		display: inline-block;
		position: absolute;
		//right: 22px;
		right:8px;
		bottom: 10px;
		color: #FF3636;
		font-size: 8px;
		margin:2px 0;
		z-index:99;
		bottom: 3.75px;
	}
}

.form-group.has_error {
	label {
		color: rgb(255, 54, 54);
	}
	.form-control {
		border: 1px solid rgb(255, 54, 54) !important;
	}
}

/** Estilos personalizados para Bootstrap Switch */
.bootstrap-switch {
	.bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
		font-size: 10px;
		font-weight: bold !important;
	}

	&.bootstrap-switch-off {
		background-color: rgba(249, 99, 50, .9);

		.bootstrap-switch-label {
			background-color: rgb(211, 211, 211);
		}
	}

	&.bootstrap-switch-on {
		background-color: rgba(18, 160, 11, .9);

		.bootstrap-switch-label {
			background-color: $color-white;
		}
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	left:0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: rgba(249, 99, 50, .7) !important;
	color: $color-white !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color:$color-white !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border: 1px solid $color-white-mid !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid $color-info !important;
}

.select2-container--bootstrap .select2-selection--single {
    padding: 0.275rem 1.5rem 0.275rem 0.75rem;
    height: 28px;
    font-size: 0.8571em;
}

.form-group .input-group-addon, .input-group .input-group-addon {
    padding: 8px 0 10px 18px;
}

/** Estilos personalizados para wizard en formularios */
.wizard-tabs {
    margin: 0;

    ul {
        display: table;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            display: table-cell;
            border-bottom: 1px solid #EEE;

            &.active {
                border-bottom-color: transparent;

                > a {
                    background: #FFF;
                    color: #555;

                    &:hover {
                        background: #FFF;
                        color: #555;
                    }

                    &:focus {
                        background: #FFF;
                        color: #555;
                    }

                    &:after {
                        border-left-color: #FFF;
                    }
                }

                .badge {
                    background-color: $color-primary;
                    border: 0;
                }
            }

            &.disabled {
                > a {
                    color: #CCC;

                    &:hover {
                        color: #CCC;
                    }

                    &:focus {
                        color: #CCC;
                    }
                }

                .badge {
                    background-color: #CCC;
                }
            }

            > a {
                position: relative;
                display: block;
                padding: 5px;
                font-size: 13.6px;
                font-size: 0.85rem;
                text-decoration: none;
                color: #555;
                background: #F4F4F4;
                color: #555;

                .badge {
                    border-radius: 100%;
                    color: #FFF;
                    background: #CCC;
                    padding: 6.4px 8.8px;
                    padding: 0.4rem 0.55rem;
                    margin-right: 5px;
                    position: relative;
                    top: -1px;
                }

                &:hover {
                    background: #F4F4F4;
                    color: #555;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:active, &:focus {
                    border-bottom: 0;
                }

                &:before, &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    z-index: 1;
                    border: 17px solid transparent;
                    border-right: 0;
                    border-left: 10px solid transparent;
                    width: 0;
                    height: 0;
                }

                &:before {
                    z-index: 1;
                    right: -11px;
                    border-left-color: #E0E0E0;
                }

                &:after {
                    z-index: 2;
                    border-left-color: #F4F4F4;
                }
            }

            &:last-child {
                > a{
                    &:before, &:after {
                        display: none;
                    }
                }
            }
        }
    }
    /*.wizard-steps*/
}

.wizard-progress {
    margin: 0 15px;

    .steps-progress {
        height: 2px;
        margin: 0 38px;
        position: relative;
        top: 15px;
        background: #CCC;

        .progress-indicator {
            height: 100%;
            width: 0;
            background: $color-primary;
            -webkit-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }
    }

    .wizard-steps {
        list-style: none;
        margin: 0;
        padding: 15px 0 0;
        display: inline-block;
        width: 100%;
        font-size: 0;
        text-align: justify;

        &:after {
            display: inline-block;
            width: 100%;
            content: '.';
            font-size: 0;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }

        li {
            display: inline-block;
            vertical-align: top;
            min-width: 50px;
            max-width: 100px;

            a {
                position: relative;
                display: block;
                padding: 25px 8px 0;
                font-size: 11px;
                color: #33333F;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                text-decoration: none;

                span {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    display: block;
                    background: #CCC;
                    color: #FFF;
                    line-height: 26px;
                    text-align: center;
                    margin-top: -15px;
                    margin-left: -15px;
                    width: 30px;
                    height: 30px;
                    border-radius: 35px;
                    font-size: 13px;
                    text-indent: -1px;
                    border: 2px solid #CCC;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                }
            }

            &.completed {
                a {
                    span {
                        background: $color-primary;
                        border-color: $color-primary;
                        color: #FFF;
                    }
                }

                &.active {
                    a {
                        span {
                            color: #FFF;
                        }
                    }
                }
            }

            &.active {
                a {
                    span {
                        background: #FFF;
                        color: $color-primary;
                        border-color: $color-primary;
                    }
                }
            }
        }
    }

    &.wizard-progress-lg {
        margin: 0 auto 30px;
        width: 80%;

        .steps-progress {
            margin: 0 52px;
            height: 4px;
            top: 34px;
        }

        .wizard-steps {
            padding-top: 30px;
        }

        ul {
            li {
                max-width: 135px;

                a {
                    padding-top: 40px;
                    font-size: 14px;

                    span {
                        width: 60px;
                        height: 60px;
                        margin-top: -30px;
                        margin-left: -30px;
                        border-radius: 60px;
                        line-height: 52px;
                        font-size: 22px;
                        border-width: 4px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .wizard-progress {
        width: auto;
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;

        &.wizard-progress-lg {
            width: auto;
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;

            .wizard-steps {
                li {
                    min-width: 0;
                    max-width: none;

                    &:before, &:after {
                        height: 4px;
                    }
                }
            }
        }

        .steps-progress {
            display: none;
        }

        .wizard-steps {
            display: block;
            font-size: 0;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            width: 100%;

            li {
                -webkit-transition: margin .5s linear;
                transition: margin .5s linear;
                display: inline-block;
                float: none;
                position: relative;
                width: 100%;
                min-width: 0;
                max-width: none;

                a {
                    position: relative;
                    z-index: 2;
                }

                &:before {
                    background: #CCC;
                    left: 0;
                }

                &:after {
                    background: #CCC;
                    right: 0;
                }

                &:before, &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    top: 0;
                    width: 50%;
                }

                &.active {
                    margin-left: 0;
                }

                &.completed {
                    margin-left: -100%;

                    &:after {
                        background: #CCC;
                    }

                    &.active {
                        margin-left: 0;
                    }
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.form-wizard {
    margin-bottom: 20px;

    .tabs {
        margin-bottom: 0;
    }

    .tab-content {
        background: #FFF;
        border: 0 none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    ul {
        &.pager {
            .next a, .previous a, .first a, .last a, .finish a {
                cursor: pointer;
            }
        }

        .disabled {
            a {
                cursor: not-allowed;
            }
        }

        .next {
            &.disabled {
                display: none;
            }
        }
    }
}
