img.institution-logo, img.institution-banner {
	border: solid 1px $color-info;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
}

.institution-logo {
	width: 60%;
	max-height: 250px;
}

.institution-banner {
	width:100%;
	max-height: 80px;
}

.img-delete {
	font-size: 0.8571em;
}
.row-delete-img {
	display: none;
}
.default-image-style {
    cursor:pointer;
}
.hide-image-file {
    display:none;
}
.btn-img-action {
    padding: 0.1rem 0.3rem !important;
}
