img.institution-logo, img.institution-banner {
	border: solid 1px $primary-color;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
}

.institution-logo {
	width: 60%;
	max-height: 250px;
}

.institution-banner {
	width:100%;
	max-height: 100px;
}

.img-delete {
	font-size: 0.8571em;
}