.list-group {
    &.list-group-modules {
        .media-left {
            margin-right: 10px;
            border-right: solid 2px;
            padding-right: 10px;
        }
    }
}

.list-group-item {
    &:hover {text-decoration: none}

    .media {
        .media-left {
            img {height:60px;}
        }
    }
}
