/** JQuery Menu */
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.content {
	width: 260px;
	margin: 100px auto;
}
.colors {
	width: 260px;
	float: left;
	margin: 20px auto;

	a {
		width: 43.3px;
		height: 30px;
		float: left;
	}

	.default {
		background: #414956;
	}

	.blue {
		background: #4A89DC;
	}

	.green {
		background: #03A678;
	}

	.red {
		background: #ED5565;
	}

	.white {
		background: $color-white;
	}

	.black {
		background: #292929;
	}
}

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/
.content-wrapper {
	&.collapsed {
		.jquery-accordion-menu {
			width: 61px;

			span {
				display:none;
			}

			/*> ul {
				> li {
					> a:hover {
						span {
							position:absolute
							display:block;
							margin-left: 61px;
						}
					}
				}
			}*/
		}
	}
}

.jquery-accordion-menu {

	* {
		font-family:'Open Sans',sans-serif;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		outline:0
	}

	/*min-width:260px;*/
	float:left;
	position:relative;
	/*box-shadow:0 20px 50px $color-black-light*/

	.jquery-accordion-menu-footer, .jquery-accordion-menu-header {
		width:100%;
		height:50px;
		padding-left:22px;
		float:left;
		line-height:50px;
		font-weight:600;
		color:#f0f0f0;
		background:#414956;
	}

	ul {
		margin:0;
		padding:0;
		list-style:none;

		li {
			width:100%;
			display:block;
			float:left;
			position:relative;

			a {
				width:100%;
				padding:14px 22px;
				float:left;
				text-decoration:none;
				color:#f0f0f0;
				font-size:13px;
				background:#414956;
				white-space:nowrap;
				position:relative;
				overflow:hidden;
				-o-transition:color .2s linear,background .2s linear;
				-moz-transition:color .2s linear,background .2s linear;
				-webkit-transition:color .2s linear,background .2s linear;
				transition:color .2s linear,background .2s linear;

				i {
					width:34px;
					float:left;
					line-height:18px;
					font-size:16px;
					text-align:left;
				}
			}
		}

		ul {
			&.submenu {
				width:100%;
				display:none;
				position:static;

				.submenu-indicator{
					line-height:16px;
				}

				li {
					clear:both;
					width:100%;

					ul {
						&.submenu {
							width:100%;
							display:none;
							position:static;
						}
					}

					a {
						width:100%;
						float:left;
						font-size:11px;
						background:#383838;
						border-top:none;
						position:relative;
						border-left:solid 6px transparent;
						-o-transition:border .2s linear;
						-moz-transition:border .2s linear;
						-webkit-transition:border .2s linear;
						transition:border .2s linear;
					}

					&:hover {
						> a {
							border-left-color:#414956;
						}
					}

					.jquery-accordion-menu-label {
						top:12px;
					}
				}

				> li {
					> a {
						padding-left:30px;
					}

					> ul {
						&.submenu {
							> li {
								> a {
									padding-left:45px;
									white-space: inherit;
								}

								> ul {
									&.submenu {
										> li {
											> a {
												padding-left:60px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		color:$color-white;
		background:#3b424d;
	}

	> ul {
		> li {
			> a {
				border-bottom:solid 1px #3b424d;
			}
		}
	}

	.submenu-indicator{
		float:right;
		right:22px;
		position:absolute;
		line-height:19px;
		font-size:20px;
		-o-transition:transform .3s linear;
		-moz-transition:transform .3s linear;
		-webkit-transition:transform .3s linear;
		-ms-transition:transform .3s linear;
	}

	.submenu-indicator-minus {
		> .submenu-indicator {
		    -ms-transform:rotate(90deg);
		    -moz-transform:rotate(90deg);
		    -webkit-transform:rotate(90deg);
		    transform:rotate(90deg)
		}
	}
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{
	min-width:20px;
	padding:1px 2px 1px 1px;
	position:absolute;
	right:18px;
	top:14px;
	font-size:11px;
	font-weight:800;
	color:$color-black-thin;
	text-align:center;
	line-height:18px;
	background:#f0f0f0;
	border-radius:100%;
}

.ink {
	display:block;
	position:absolute;
	background:rgba(255,255,255,.3);
	border-radius:100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}

.animate-ink {
    -webkit-animation:ripple .5s linear;
    -moz-animation:ripple .5s linear;
    -ms-animation:ripple .5s linear;
    -o-animation:ripple .5s linear;
    animation:ripple .5s linear;
}

@-webkit-keyframes ripple{
	100% {
		opacity:0;
		-webkit-transform:scale(2.5);
	}
}

@-moz-keyframes ripple{
	100%{
		opacity:0;-moz-transform:scale(2.5);
	}
}
@-o-keyframes ripple{
	100%{
		opacity:0;-o-transform:scale(2.5);
	}
}
@keyframes ripple{
	100%{
		opacity:0;transform:scale(2.5);
	}
}

.blue {
	&.jquery-accordion-menu {
		.jquery-accordion-menu-footer, .jquery-accordion-menu-header, ul li a {
			background:#4A89DC;
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		background:#3e82da;
	}

	> ul {
		> li {
			> a {
				border-bottom-color:#3e82da;
			}
		}
	}

	ul {
		ul {
			&.submenu {
				li {
					&:hover, &.active {
						> a {
							border-left-color:#3e82da;
						}
					}
				}
			}
		}
	}
}

.green {
	&.jquery-accordion-menu {
		.jquery-accordion-menu-footer, .jquery-accordion-menu-header, ul li a {
			background:#03A678;
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		background:#049372;
	}

	> ul {
		> li {
			> a {
				border-bottom-color:#049372;
			}
		}
	}

	ul {
		ul {
			&.submenu {
				li {
					&:hover, &.active {
						> a {
							border-left-color:#049372;
						}
					}
				}
			}
		}
	}
}

.red {
	&.jquery-accordion-menu {
		.jquery-accordion-menu-footer, .jquery-accordion-menu-header, ul li a {
			background:#ED5565;
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		background:#DA4453;
	}

	> ul {
		> li {
			> a {
				border-bottom-color:#DA4453;
			}
		}
	}

	ul {
		ul {
			&.submenu {
				li {
					&:hover, &.active {
						> a {
							border-left-color:#DA4453;
						}
					}
				}
			}
		}
	}
}

.white {
	&.jquery-accordion-menu {
		.jquery-accordion-menu-footer, .jquery-accordion-menu-header, ul li a {
			background:$color-white;
			color:$color-black-thin;
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		background:#f0f0f0;
	}

	> ul {
		> li {
			> a {
				border-bottom-color:#f0f0f0;

				> .ink {
					background:rgba(0,0,0,.1);
				}
			}
		}
	}

	ul {
		ul {
			&.submenu {
				li {
					&:hover, &.active {
						> a {
							border-left-color:#2BA3F7;
						}
					}

					a {
						color:#f0f0f0;
					}
				}
			}
		}
	}

	&.jquery-accordion-menu {
		ul {
			ul {
				&.submenu {
					li {
						a {
							background: $color-gray-light;
							color:$color-black-thin;
						}
					}
				}
			}
		}
	}
}

.black {
	&.jquery-accordion-menu {
		.jquery-accordion-menu-footer, .jquery-accordion-menu-header, ul li a {
			background:#292929;
		}
	}

	> ul > li.active > a, > ul > li:hover > a {
		background:$color-black-medium;
	}

	> ul {
		> li {
			> a {
				border-bottom-color:$color-black-medium;
			}
		}
	}

	ul {
		ul {
			&.submenu {
				li {
					&:hover, &.active {
						> a {
							border-left-color:$color-black-medium;
						}
					}
				}
			}
		}
	}
}
