/** Select2 */
.select2 {
	width: 100% !important;
}
.select2-selection, .select2-search input {
	border-radius: 30px !important;
}
.select2-selection {

	&:focus {
		border:1px solid $color-info !important;
	}

}
.select2-search {
	input {
		padding-left: 20px !important;
	}
}
