/** Quick Buttons */
.btn-simplex {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 80px;
  padding-top: 16px;
  margin: 10px;
  color: #444444;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 10px 25px 0px $default-shadow-thin;
  box-shadow: 0px 10px 25px 0px $default-shadow-thin;
  border-radius: 15px;background-color: $color-white;

  &.btn-simplex-primary {
    border: 3px double #519BF6;
    color: #519BF6;
  }

  &.btn-simplex-md {
    width: 130px;
    height: 120px;
  }

  span {
        display: block;
        text-transform: uppercase;
  }
}

a {
    .btn-simplex, .btn-simplex:hover {
        text-decoration: none !important;
    }
}

/** Square buttons */
.btn {
    &.btn-square, &.btn-square:hover {
        background-color: $color-white;
    }
}

.btn-square {
    padding: 5px;
    border: 3px double $color-info;
    color: #337AB7;
    min-height: 120px;
    max-width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
    -webkit-box-shadow: 0px 10px 25px 0px $default-shadow-thin;
    box-shadow: 0px 10px 25px 0px $default-shadow-thin;

    a {
        text-decoration: none;

        h2, h3, h4, h5, h6 {
            margin-top: 15px;
        }
    }

    &.btn-square-primary {
        border: 3px double $color-primary;

        a {
            color: $color-primary;
        }
    }

    &.btn-square-success {
        border: 3px double $color-success-opacity-8;

        a {
            color: $color-success-opacity-8;
        }
    }

    &.btn-square-warning {
        border: 3px double $color-warbing-light-thin;

        a {
            color: $color-warbing-light-thin;
        }
    }

    &.btn-square-danger {
        border: 3px double $color-danger-opacity-8;

        a {
            color: $color-danger-opacity-8;
        }
    }

    &.btn-square-info {
        border: 3px double $color-info-opacity-8;

        a {
            color: $color-info-opacity-8;
        }
    }
}
