.bootstrap-switch.bootstrap-switch-mini {
	height: 16px !important;
	width: 46px !important;

	&.bootstrap-switch-mini {


		.bootstrap-switch-handle-off {
			text-indent:none;
		}

		&.bootstrap-switch-off {
			.bootstrap-switch-container {
				margin-left: -26px !important;
			}
		}

		.bootstrap-switch-container {
			width: 72px !important;
		}
	}
}
.bootstrap-switch {
	&.bootstrap-switch-on:hover .bootstrap-switch-label, &.bootstrap-switch-off:hover .bootstrap-switch-label {
    	width: 22px !important;
	}
}

.bootstrap-switch-mini {
    .bootstrap-switch {
        .bootstrap-switch-handle-off:hover {
            //width: 0px !important;
        }
    }
}
