/** Estilos de columnas de tablas */

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.accordion hr {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion h6 .btn {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.accordion .card-body {
  padding-top: 0;
}

.accordion .list-group-item {
  padding: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #f96332;
  background-color: #f96332;
}

