# Project information
site_name: Documentación de Usuario.
site_dir: ../../../public/docs/user_sale
use_directory_urls: true


# Page tree
nav:
      - Inicio: index.md
      - Módulo de Comercialización:
        - Solicitud de Servicios: service_request.md
        - Facturas: bills.md
        - Recepciones de almacén: receptions.md
        - Pagos: payment.md
        - Pedidos: order.md
        - Cotizaciones: quotes.md
      - Configuración: 
        - Formatos de Códigos: setting/code_format.md
        - Registros Comunes: setting/common_registers.md
      - Preguntas Frecuentes: frequent_questions.md
       
      
# Repository
repo_name: Repositorio-Kavac
repo_url: https://gestion.cenditel.gob.ve/trac/browser/kavac/

# Configuration
theme:
  name: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: es
  features:
    - navigation.tabs
    #- navigation.instant
  palette:
    scheme: default
    # primary: light-blue
    accent: light-blue
  font:
    text: Roboto
    code: Roboto Mono
  favicon: images/favicon.png
  logo: images/logo.png
  icon: 
    repo: fontawesome/brands/git-square 
  
          
# Plugins
plugins:
  - search
  - minify:
      minify_html: true

# Customization
# extra:
#   social:
#     - icon: 
#       link: 

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details

# css additional
extra_css:
  - stylesheets/extra.css