/** Estilos HTML Generales */
body {
	font-size:13px;
	color:#636E7B;
	background-color:#EBECF1;
}
footer nav ul {
	text-align: center;
}

/** Estilos para el contenido de la aplicación */
.app-content {
	position: relative;
	margin: 20px;
}

/** Estilos generales */
.img-circle {
	border-radius: 50%;
}
.media {
	> .float-left {
		margin-right: 10px;
	}
}
.media-heading {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.footer {
	padding: 10px 0;
}
.nodisplay {
	display: none;
}
.md-title {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
}
.ico-2x {
	font-size:2rem;
}
.ico-3x {
	font-size:3rem;
}
.ico-4x {
	font-size:4rem;
}
.bg-info {
	background-color: #2CA8FF !important;
}
.bg-success {
	background-color: rgba(24, 206, 15, 0.8);
}
.bg-warning {
	background-color: rgba(255, 178, 54, 0.8);
}
.bg-danger {
	background-color: rgba(255, 54, 54, 0.8);
}
.bg-info, .bg-success, .bg-warning, .bg-danger {
	color: #fff !important;
}
.app-content {
	min-height: 100vh;
}
.card-title {
	text-transform: uppercase;
	color: #0073b7;
}
.cursor-pointer {
    cursor:pointer;
}
.vertical-middle {
    margin:10px auto;
}
table {
	font-size: 0.87em;
	width: 100% !important;

	th, td {
		padding: 0.5rem !important;
		vertical-align: middle !important;
	}
}
.panel-legend {
	span {
		margin-left: 10px;
	}
}
.mg-bottom-20 {
	margin-bottom:20px;
}
.special-title {
	list-style:none;font-size:.7rem;text-transform: uppercase;font-weight:bold;
}

.login-page {
	.card-login {
		.input-group {
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}

	.page-header {
		.page-header-image {
			background-image:url('/images/auth-bg.jpg');
		}
	}
}

.bootstrap-switch {
	&.bootstrap-switch-off {
		.bootstrap-switch-label {
            background-color: rgba(255, 255, 255, 0.4);
        }
	}
}