/** Estilos HTML Generales */
body {
	font-size:13px;
	color:#636E7B;
	background-color:#EBECF1;
}
footer nav ul {
	text-align: center;
}

/** Estilos para el contenido de la aplicación */
.app-content {
	position: relative;
	margin: 20px;
}

/** Estilos generales */
.no-list-symbol {
	list-style:none;
}
.img-circle {
	border-radius: 50%;
}
.img-logo {
	width:100px;
	max-height:100px;
}
.img-banner {
	width:100%;
	max-height: 100px;
}
.msg-list .media-object {
	width: 40px;
}
.media {
	> .float-left {
		margin-right: 10px;
	}
}
.media-heading {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.footer {
	padding: 10px 0;
}
.nodisplay {
	display: none;
}
.md-title {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
}
.ico-2x {
	font-size:2rem;
}
.ico-3x {
	font-size:3rem;
}
.ico-4x {
	font-size:4rem;
}
.bg-info {
	background-color: #2CA8FF !important;
}
.bg-success {
	background-color: rgba(24, 206, 15, 0.8);
}
.bg-warning {
	background-color: rgba(255, 178, 54, 0.8);
}
.bg-danger {
	background-color: rgba(255, 54, 54, 0.8);
}
.bg-info, .bg-success, .bg-warning, .bg-danger {
	color: #fff !important;
}
.app-content {
	min-height: 100vh;
}
.card-title {
	text-transform: uppercase;
	color: #0073b7;
}
.cursor-pointer {
    cursor:pointer;
}
.vertical-middle {
    margin:10px auto;
}
.modal-footer {
    justify-content: flex-end !important;
}
table {
	font-size: 0.87em;
	width: 100% !important;

	th, td {
		padding: 0.5rem !important;
		vertical-align: middle !important;
	}
}
.panel-legend {
	span {
		margin-left: 10px;
	}
}
.mg-bottom-20 {
	margin-bottom:20px;
}
.special-title {
	list-style:none;font-size:.7rem;text-transform: uppercase;font-weight:bold;
}

.login-page {
	.card-login {
		.input-group {
			&:last-child {
				margin-bottom: 20px;
			}
		}
	}

	.page-header {
		.page-header-image {
			background-image:url('/images/auth-bg.jpg');
		}
	}
}

.bootstrap-switch {
	&.bootstrap-switch-off {
		.bootstrap-switch-label {
            background-color: rgba(255, 255, 255, 0.4);
        }
	}
}

/**
 * Estilos para páginas de error
 */

.notfoundpanel {
    text-align: center;
    width: 600px;
    margin: 80px auto 0 auto;
    position: relative;
}

.notfoundpanel h1 {
    font-size: 180px;
    font-weight: 200;
    color: #000;
    margin: 0 0 10px 0;
    line-height: 180px;
    /* text-shadow: 4px 4px rgba(0,0,0,0.2); */
}

.notfoundpanel h3 {
    color: #333;
    margin: 0 0 10px 0;
}

.notfoundpanel p {
    font-size: 14px !important;
}

.notfoundpanel form {
    width: 350px;
    margin: 20px auto 0 auto;
}

.notfoundpanel .form-control {
    width: 250px;
    float: left;
}

.notfoundpanel .btn {
    padding: 9px 20px 10px 20px;
}

/**
 * Estilos de colores de fondo
 */
/*
 * Background styles
 */
.bg-red, .bg-blue, .bg-aqua, .bg-yellow, .bg-green, .bg-purple, .bg-black, .bg-blue, .bg-light-blue,
.bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-maroon, .bg-black-active, .bg-red-active,
.bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active,
.bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active,
.bg-maroon-active {
  color: #fff !important;
}
.bg-gray, .bg-gray-light {
  color:#666 !important;
}
.bg-red {background-color: #dd4b39 !important;}
.bg-blue {background-color: #0073b7 !important;}
.bg-aqua {background-color: #00c0ef !important;}
.bg-yellow {background-color: #f39c12 !important;}
.bg-green {background-color: #00a65a !important;}
.bg-purple {background-color: #605ca8 !important;}
.bg-gray {background-color: #d2d6de !important;}
.bg-gray-light {background-color: #f7f7f7 !important;}
.bg-black {background-color: #111111 !important;}
.bg-blue {background-color: #0073b7 !important;}
.bg-light-blue {background-color: #3c8dbc !important;}
.bg-navy {background-color: #001f3f !important;}
.bg-teal {background-color: #39cccc !important;}
.bg-olive {background-color: #3d9970 !important;}
.bg-lime {background-color: #01ff70 !important;}
.bg-orange {background-color: #ff851b !important;}
.bg-fuchsia {background-color: #f012be !important;}
.bg-maroon {background-color: #d81b60 !important;}
.bg-gray-active {color: #000 !important;background-color: #b5bbc8 !important;}
.bg-black-active {background-color: #000000 !important;}
.bg-red-active {background-color: #d33724 !important;}
.bg-yellow-active {background-color: #db8b0b !important;}
.bg-aqua-active {background-color: #00a7d0 !important;}
.bg-blue-active {background-color: #005384 !important;}
.bg-light-blue-active {background-color: #357ca5 !important;}
.bg-green-active {background-color: #008d4c !important;}
.bg-navy-active {background-color: #001a35 !important;}
.bg-teal-active {background-color: #30bbbb !important;}
.bg-olive-active {background-color: #368763 !important;}
.bg-lime-active {background-color: #00e765 !important;}
.bg-orange-active {background-color: #ff7701 !important;}
.bg-fuchsia-active {background-color: #db0ead !important;}
.bg-purple-active {background-color: #555299 !important;}
.bg-maroon-active {background-color: #ca195a !important;}