.btn {
	&.btn-icon {
		&.btn-xs {
			height:1.4rem;
			min-width:1.4rem;
			width:1.4rem;

			i {
				font-size: .7rem;
			}
		}
	}
}

.btn-add-record {
	color: #2CA8FF;
	cursor:pointer;
	margin-left:10px;
}