.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.table-assignment .form-control {
  border-radius: .25rem !important;
  padding: .375rem .1rem;
  font-size: .6rem;
  text-align: center;
}

.table-assignment tbody tr.selected-row {
  background-color: #d1d1d1;
}

.table-assignment tbody tr.config-row {
  background-color: #fff;
}

.table-assignment {
  margin: 0 auto !important;
}

.table-scale .form-control {
  border-radius: .25rem !important;
  padding: .375rem .1rem;
  font-size: .6rem;
  text-align: center;
}

.table-scale tbody tr.selected-row {
  background-color: #d1d1d1;
}

.table-scale tbody tr.config-row {
  background-color: #fff;
}

div.multiselect {
  margin: 0px;
}

.table-ladder thead tr.selected-row {
  background-color: #d1d1d1;
}

.table-ladder tbody tr.config-row {
  background-color: #fff;
}

.imageUp {
  width: 26px;
  height: 26px;
  margin-right: -15px;
  margin-top: -10px;
  cursor: pointer;
  float: right;
}

.pretty.p-switch.p-bigger .state:before {
  content: "NO";
  color: #FFFFFF;
  background-color: #f96332 !important;
  border-color: #f96332;
  height: calc(1em);
  width: 3em !important;
  top: calc((0% - (100% - 1em)) + 2px);
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  padding: 2px 5px;
}

.pretty.p-switch.p-bigger input {
  min-width: 3em;
}

.pretty.p-switch.p-fill.p-bigger input:checked ~ .state label:after {
  left: 2em !important;
}

.pretty.p-bigger label:before,
.pretty.p-bigger label:after {
  font-size: 1.3em !important;
  top: calc((0% - (100% - 1em)) - 3px) !important;
  left: 3px !important;
}

.pretty.p-bigger label:after {
  margin-left: -3px;
}

.pretty.p-switch.p-bigger input:checked ~ .state:before {
  content: "SI";
  text-align: left;
  padding: 3px 0px 2px 10px;
}

